# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual environments
venv/
.venv/

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Data (too large for GitHub)
data/Electric_Consumption_And_Cost_2010_-_May_2025_.csv
